*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}

#header{
    /* height: 10vh; */
    /* width: 100vw; */
    height: 12%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
}
#logo{
    /* margin: 10px; */
    height: 70%;
}

#logo img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}


.text{
    /* margin: 20px; */
    color: rgb(30, 30, 126);
    display: flex;
    font-weight: 700;
}
.text:hover{
    color: blueviolet;
}
/* 
p{
    text-align: center;
} */

#contact{
    /* margin: 25px; */
    /* padding-left: 70px; */
    text-align: center;
    font-weight: lighter;
}

.icon{
    /* margin: 15px; */
}

.icon:hover{
    background-color: lightblue;
    color: rgb(2, 2, 128);
    padding: 10px;
    border-radius: 60%;
}
#login{
    display: flex;
    /* margin: 10px; */
}

#login:hover{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}
#try{
    /* margin: 10px; */
    background-color: green;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

#try:hover{
    /* margin: 10px; */
    background-color: rgb(0, 76, 0);
}



#fakeheader{
    height: 12%;
    width: 100%;
    /* background-color: rgb(173, 18, 18); */
}

#page1{
    height: 88%;
    width: 100%;
    /* background-color: rgb(25, 25, 119); */
    /* display: flex; */

}

#strip{
    background-color: rgb(0, 0, 106);
    height: 8%;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
#strip u{
    font-weight: lighter;
    margin-left: 30px;
}

#content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1{
    height: 90%;
    width: 45%;
    display: space-around;

}
#box1 h1{
    color: rgb(0, 0, 106);
    font-weight: 600;
    font-size: 50px;
    margin: 30px 50px ;

}

#box1 p{
    font-weight: 300;
    font-size: 30px; 
    margin: 30px 50px ;
}

#buttons{
    display: flex;
    padding-top: 1px;
    margin: 0px 28px;
}
#start{
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: rgb(23, 23, 156);
    border-radius: 10px;
}
#start:hover{
    background-color: rgb(11, 6, 94);
}

#demo{
    margin: 20px;
    padding: 10px 20px;
    text-align: center;
    color: rgb(28, 102, 200);
    border: 1px solid rgb(28, 102, 200) ;
    border-radius: 10px;
}

#demo:hover{
    background-color: rgb(131, 178, 239);
    color: rgb(0, 0, 107);
    border-color: rgb(0, 0, 107);
}

#box2{
    height: 90%;
    width: 45%;
}
#box2 img{
    height: 100%;
    width: 90%;
    /* object-fit: cover; */
    
}
#box2:hover{
    background-color: rgb(198, 225, 243);
    border-radius: 20px;
}

#heading{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 106);
}

#heading h2{
    font-weight: 650;
    margin-bottom: 50px;
    text-align: center;
}
#heading h2:hover{
    background-color: rgb(198, 225, 243);
    padding: 10px;
    border-radius: 10px;
}
#page1 p{
    /* height: 10%;
    width: 20%;
    /* text-align: center; */
    /* background-color: rgb(9, 9, 130);
    color: white;
    align-items: center;
    justify-content: center; */ 
}
